*{
   
    margin-top: 15px;
    font-size: 15px;
}

.bg-bright-yellow {
  background-color: #ffff00 !important;
}


.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.bg-grey{
    background-color: gray;
}

.bg-pink{
    background-color: rgba(255, 134, 154, 0.977);
}

.bg-skyblue{
    background-color: skyblue;
}

 
 .gallery img {
      width: 200px;
      height: auto;
      border: 2px solid #ccc;
      border-radius: 5px;
    }

 /* .my-button {
            background-color: #4CAF50;
            color: white;
            padding: 12px 24px;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        } */

.my-button:hover {
            background-color: #45a049;
        }